body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#main{
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px; 
    margin-top: 30vh;
    margin-bottom: 10vh;
}

textarea {
    background:url(pexels-steve-1843717.jpg) top right no-repeat; 
    background-size: 100%;
    border-radius:6px; 
    border:2px solid silver;
    outline: none; 
 }